{% extends "layout.html" %}
{% block content %}
    <h1> Welcome to Forex Trading chart </h1>
    <p>Your One-Stop Destination for Forex Trading Insights</p>
    <div class="test">
        <h2>Popular Currency Pairs</h2>
        <ol>
            <li>AUDUSD</li>
            <li>EURJPY</li>
            <li>EURUSD</li>
            <li>GBPUSD</li>
            <li>NZDUSD</li>
            <li>USDCAD</li>
            <li>USDCHF</li>
            <li>USDJPY</li>
        </ol>

    </div>
    <p>Explore more about different currencies and trading opportunities in the Forex market. <br><a href="/currency" class="cta-button">Discover Now</a></p>
    <div class="trading-tips">
        <h2>Expert Trading Tips</h2>
        <ul>
            <li>Stay informed about global events influencing currency movements.</li>
            <li>Utilize technical analysis tools to make informed trading decisions.</li>
            <li>Practice risk management to safeguard your investments.</li>
            <li>Start with a demo account to hone your skills before real trading.</li>
        </ul>
    </div>
{% endblock content %}