{% extends "layout.html" %}
{% block content %}
    <h1> Welcome to Forex Trading chart </h1>
    <div class="test">
        <h2>Currency Pairs</h2>
        <ol>
            <li>AUDUSD</li>
            <li>EURJPY</li>
            <li>EURUSD</li>
            <li>GBPUSD</li>
            <li>NZDUSD</li>
            <li>USDCAD</li>
            <li>USDCHF</li>
            <li>USDJPY</li>
        </ol>

    </div>
    <p> Click here to check out currency <a href="/currency">link_to_currency</a>.</p>
{% endblock content %}